
/* client/src/components/NavBar.css */

.navbar {
    background-color: #004D40; /* Deep teal */
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.logo {
    height: 50px;
    margin-right: 15px;
}

.navbar-links {
    list-style: none;
    display: flex;
}

.navbar-links li {
    padding: 0 10px;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.navbar-links a:hover {
    color: #B2DFDB; /* Light teal */
}
/* client/src/components/NavBar.css */

.navbar {
    background-color: #004D40; /* Deep teal */
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.logo {
    height: 50px;
    margin-right: 15px;
}

.navbar-links {
    list-style: none;
    display: flex;
}

.navbar-links li {
    padding: 0 10px;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.navbar-links a:hover {
    color: #B2DFDB; /* Light teal */
}
